<head>
  <title><%= @contact.name %> <%= @contact.last_name %></title>
</head>


<a href="/contacts">
  Contacts
</a>
<br>
<a href="/interests">
  Interests
</a>
<br>
<a href="/new_contact_form">
  Add a new contact
</a>
<br>
<a href="/new_interest_form">
  Add a new interest
</a>


<h1>
  <%= @contact.name %> <%= @contact.last_name %> AKA "<%= @contact.nickname %>"
</h1>

<h2>Details</h2>

<dl>
  <dt>
    City
  </dt>
  <dd>
    <%= @contact.city %>
  </dd>

  <dt>
    Job
  </dt>
  <dd>
    <%= @contact.job %>
  </dd>

  <dt>
    Birthday
  </dt>
  <dd>
    <%= @contact.birthday %>
  </dd>

  <dt>
    Note
  </dt>
  <dd>
    <%= @contact.note %>
  </dd>

  <dt>
    Country of origin
  </dt>
  <dd>
    <%= @contact.country_of_origin %>
  </dd>

  <dt>
    Category
  </dt>
  <dd>
    <%= @contact.category_id %>
  </dd>

  <dt>
    Interest
  </dt>

  <dd>
    <% @interests.each do |interest| %>
    
    <a href="/interests/<%= interest.id %>"><%= interest.name %></a>, 
    <% end %>
    <a href="/new_interest_form">
      add a new interest
    </a>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@contact.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@contact.updated_at) %> ago
  </dd>

</dl>

<h2>Interactions</h2>

<a href="/new_interaction_form/<%= @contact.id %>">
  Add a new interaction
</a>

<table>
  <tr>
    <th>Date</th>
    <th>Details</th>
    <th></th>
  </tr>

  <% @interactions.order({ :date => :desc }).each do |interaction| %>

  <tr>
    <td>
      <%= interaction.date %>
    </td>
    <td>
      <%= interaction.details %>
    </td>
    <td>
      <a href="/existing_interaction_form/<%= interaction.id %>">Edit</a>
    </td>
  </tr>
  <% end %>
</table>

<div>

  <div>
    <a href="/existing_contact_form/<%= @contact.id %>">
      Edit contact
    </a>
  </div>

  <div>
    <a href="/delete_contact/<%= @contact.id %>">
      Delete contact
    </a>
  </div>
</div>


<br>
<#%= @contact.main_contact %>
<br>
Contact #<%= @contact.id %> details