<head>
  <title><%= @contact.name %> <%= @contact.last_name %></title>
</head>


<h1>
  <%= @contact.name %> <%= @contact.last_name %><% if @contact.nickname.empty?%><%else%>
  
  AKA "<%= @contact.nickname %>"<%end%>
</h1>

<hr>

<h2>Details</h2>

<dl>
  <% if @contact.city.empty?%><%else%>
  <dt>
    City
  </dt>
  <dd>
    <%= @contact.city %>
  </dd><%end%>

  <% if @contact.job.empty?%><%else%>
  <dt>
    Job
  </dt>
  <dd>
    <%= @contact.job %>
  </dd><%end%>

  <dt>
    Birthday
  </dt>
  <dd>
    <%= @contact.birthday.month %>/<%= @contact.birthday.day %>/<%= @contact.birthday.year %>
  </dd>

  <% if @contact.note.empty?%><%else%>
  <dt>
    Notes
  </dt>
  <dd>
    <%= @contact.note %>
  </dd><%end%>

  <% if @contact.country_of_origin.empty?%><%else%>
  <dt>
    Country of origin
  </dt>
  <dd>
    <%= @contact.country_of_origin %>
  </dd><%end%>

  <dt>
    Interests
  </dt>

  <dd>
    <% @interests.each do |interest| %>
    
    <a href="/interests/<%= interest.id %>"><%= interest.name %></a>, 
    <% end %>
    <a href="/add_interest_to_contact/<%= @contact.id %>">
      add a new interest
    </a>
  </dd>

</dl>

<hr>

<h2>Interactions</h2>

<a href="/new_interaction_form/<%= @contact.id %>">
  Add a new interaction
</a>

  <% if @interactions.empty?%><%else%>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th>Date</th>
    <th>Details</th>
    <th></th>
  </tr>
  </thead>

  <% @interactions.order({ :date => :desc }).each do |interaction| %>

  <tr>
    <td>
      <%= interaction.date.month %>/<%= interaction.date.day %>/<%= interaction.date.year %>
    </td>
    <td>
      <%= interaction.details %>
    </td>
    <td>
      <a href="/existing_interaction_form/<%= interaction.id %>">Edit</a>
    </td>
  </tr>
  <% end %>
</table>
  <% end %>

<hr>

<div>

  <div>
    <a href="/existing_contact_form/<%= @contact.id %>">
      Edit contact
    </a>
  </div>

  <div>
    <a href="/delete_contact/<%= @contact.id %>">
      Delete contact
    </a>
  </div>
</div>

<br>