<head>
  <title>Contact List</title>
</head>


<h1>
  Contact list
</h1>

<a href="/new_contact_form">
  Add a new contact
</a>

<hr>

<table class="table">
  <thead class="thead-dark">
    <tr>

      <th>
        Name
      </th>
  
      <th>
        Last name
      </th>
  
      <th>
        Nickname
      </th>
  
      <th>
        City
      </th>
  
      <th>
        Birthday
      </th>
  
      <th>
        Last interaction
      </th>
  
      <th>
      </th>
    </tr>
  </thead>
  <% @contacts.each do |contact| %>
  <tr>

    <td>
      <%= contact.name %>
    </td>

    <td>
      <%= contact.last_name %>
    </td>

    <td>
      <%= contact.nickname %>
    </td>

    <td>
      <%= contact.city %>
    </td>

    <td>
     
      <%= contact.birthday.month %>/<%= contact.birthday.day %>/<%= contact.birthday.year %>
    </td>

    <td>
      <% if Interaction.where({ :contact_id => contact.id}).empty? %>
          <%else%>
      
            <%=Interaction.where({ :contact_id => contact.id}).order({ :date => :desc }).first.date.month%>/<%=Interaction.where({ :contact_id => contact.id}).order({ :date => :desc }).first.date.day%>/<%=Interaction.where({ :contact_id => contact.id}).order({ :date => :desc }).first.date.year%>
            
      
          <%end%>
    </td>
    
    <td>
      <a href="/contacts/<%= contact.id %>">
        Show details
      </a>
    </td>

  </tr>
  <% end %>
</table>
