<head>
  <title>Edit Contact</title>
</head>

<h1>
  Edit <%= @contact.name %> <%= @contact.last_name %> contact information
</h1>

<hr>

<%= render("contact_templates/validation_failures.html.erb") %>

<form action="/update_contact_record/<%= @contact.id %>" method="post">
  <div>

    <input type="hidden" id="user_id" name="user_id" value="<%= @contact.user_id %>">
  </div>


  <div>
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" value="<%= @contact.name %>" required>
  </div>

  <div>
    <label for="last_name">
      Last name
    </label>

    <input type="text" id="last_name" name="last_name" value="<%= @contact.last_name %>" required>
  </div>

  <div>
    <label for="nickname">
      Nickname
    </label>

    <input type="text" id="nickname" name="nickname" value="<%= @contact.nickname %>">
  </div>

  <div>
    <label for="country_of_origin">
      Country of origin
    </label>

    <input type="text" id="country_of_origin" name="country_of_origin" value="<%= @contact.country_of_origin %>">
  </div>

  <div>
    <label for="city">
      City
    </label>

    <input type="text" id="city" name="city" value="<%= @contact.city %>">
  </div>

  <div>
    <label for="job">
      Job
    </label>

    <input type="text" id="job" name="job" value="<%= @contact.job %>">
  </div>

  <div>
    <label for="birthday">
      Birthday
    </label>

    <input type="date" id="birthday" name="birthday" value="<%= @contact.birthday %>" required>
  </div>

  <div>
    <label for="note">
      Note
    </label>

    <textarea id="note" name="note" rows="3"><%= @contact.note %></textarea>
  </div>

<br>
  <button class="btn btn-dark">
    Update contact
  </button>
</form>

<hr>

<a href="/contacts/<%= @contact.id %>">
  Go back
</a>
