<h1>
  Edit membership #<%= @membership.id %>
</h1>

<hr>

<%= render("membership_templates/validation_failures.html.erb") %>

<form action="/update_membership_record/<%= @membership.id %>" method="post">
  <div>
    <label for="contact_id">
      Contact
    </label>

    <input type="text" id="contact_id" name="contact_id" value="<%= @membership.contact_id %>">
  </div>

  <div>
    <label for="interest_id">
      Interest
    </label>

    <input type="text" id="interest_id" name="interest_id" value="<%= @membership.interest_id %>">
  </div>

  <button>
    Update membership
  </button>
</form>

<hr>

<a href="/memberships">
  Go back
</a>
