<head>
  <title>New Interaction | <%= @contact.name %> <%= @contact.last_name %></title>
</head>


<h1>
  Add a new interaction - <%= @contact.name %> <%= @contact.last_name %>
</h1>


<hr>

<%= render("interaction_templates/validation_failures.html.erb") %>

<form action="/insert_interaction_record/<%= @contact.id %>" method="post">

  <div>
    <label for="details">
      Details
    </label>

    <textarea id="details" name="details" required><%= @interaction.details %></textarea>
  </div>

  <div>
    <label for="date">
      Date
    </label>

    <input type="date" id="date" name="date" value="<%= @interaction.date %>" required>
  </div>

<br>
  <button class="btn btn-dark">
    Create interaction
  </button>
</form>

<hr>

<a href="/contacts/<%= @contact.id %>">
  Go back
</a>
