<head>
  <title>Edit Interaction | <%= @contact.name %> <%= @contact.last_name %></title>
</head>



<h1>
  Edit interaction with <%= @contact.name %> <%= @contact.last_name %>
</h1>

<hr>

<%= render("interaction_templates/validation_failures.html.erb") %>

<form action="/update_interaction_record/<%= @interaction.id %>" method="post">

  <div>
    <label for="details">
      Details
    </label>

    <textarea id="details" name="details" rows="3" required><%= @interaction.details %></textarea>
  </div>

  <div>
    <label for="date">
      Date
    </label>

    <input type="date" id="date" name="date" value="<%= @interaction.date %>" required>
  </div>

<br>
  <button class="btn btn-dark">
    Update interaction
  </button>
</form>

<hr>

<a href="/contacts/<%= @interaction.contact_id %>">
  Go back
</a>
