<head>
  <title>Edit Interaction | <%= @contact.name %> <%= @contact.last_name %></title>
</head>


<a href="/contacts">
  Contacts
</a>
<br>
<a href="/interests">
  Interests
</a>
<br>
<a href="/new_contact_form">
  Add a new contact
</a>
<br>
<a href="/new_interest_form">
  Add a new interest
</a>


<h1>
  Edit interaction | <%= @contact.name %> <%= @contact.last_name %>
</h1>

<hr>

<%= render("interaction_templates/validation_failures.html.erb") %>

<form action="/update_interaction_record/<%= @interaction.id %>" method="post">

  <div>
    <label for="details">
      Details
    </label>

    <textarea id="details" name="details" rows="3"><%= @interaction.details %></textarea>
  </div>

  <div>
    <label for="date">
      Date
    </label>

    <input type="text" id="date" name="date" value="<%= @interaction.date %>">
  </div>

  <button>
    Update interaction
  </button>
</form>

<hr>

<a href="/contacts/<%= @interaction.contact_id %>">
  Go back
</a>
