<head>
  <title>Contact to Interest</title>
</head>


<h1>
  Add an existing contact to <%= @interest.name %>
</h1>



<hr>

<%= render("interest_templates/validation_failures.html.erb") %>

<form action="/insert_contact_to_interest/<%= @interest.id %>" method="post">

  <div>
    <label for="contact_id">Contact</label>
    <input list="contacts" id="contact_id" name="contact_id" required>
    <datalist id="contacts">
      
      <% @contacts.where({ :user_id => current_user.id}).each do |contact| %>
        <option value="<%= contact.id %>" type="hidden"><%= contact.name %> <%= contact.last_name %></option>
      <% end %>
    </datalist>
  </div>

<br>    
  <button class="btn btn-dark">
    Add contact to interest
  </button>
</form>

<hr>

<div>
  <a href="/interests/<%= @interest.id %>">Go back to <%= @interest.name %></a>
</div>

