<head>
  <title><%= @interest.name %></title>
</head>


<h1>
  <%= @interest.name %>
</h1>

<hr>

<h2>Contacts interested in <%= @interest.name %></h2>

<div>


<table class="table">
  <thead class="thead-dark">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Nickname</th>
    <th>City</th>
    <th>Details</th>
    <th>Remove Contact</th>
  </tr>
  </thead>
  <% @contacts.order({ :last_name => :desc }).each do |contact| %>

  <tr>
    <td>
      <%= contact.name %>
    </td>
    <td>
      <%= contact.last_name %>
    </td>
    <td>
      <%= contact.nickname %>
    </td>
    <td>
      <%= contact.city %>
    </td>
    <td>
      <a href="/contacts/<%= contact.id %>">Show details</a>
    </td>
    <td>
      <a href="/delete_membership/<%= @memberships.where({ :contact_id => contact.id}).first.id %>">Remove</a>
    </td>
  </tr>
  <% end %>
</table>

<form action="/insert_contact_to_interest/<%= @interest.id %>" method="post">

  <div>
    <select id="contact_id" name="contact_id" required placeholder="Add interest">
      <option value="" disabled selected>Add new contact to interest</option>
      <% @contacts_user.where({ :user_id => current_user.id}).each do |contact| %>
        <option value="<%= contact.id %>" type="hidden"><%= contact.name %> <%= contact.last_name %></option>
      <% end %>
    </select>
  </div>

<br>    
  <button class="btn btn-dark">
    Submit
  </button>
</form>

<hr>

  <div>
    <a href="/existing_interest_form/<%= @interest.id %>">
      Change interest name
    </a>
  </div>

  <div>
    <a href="/delete_interest/<%= @interest.id %>">
      Delete interest
    </a>
  </div>
</div>





