<head>
  <title>Interest List</title>
</head>


<h1>
  Interest list
</h1>

<hr>

<table class="table">
  <thead class="thead-dark">
  <tr>

    <th>
      Name
    </th>

    <th>
      # of Contacts
    </th>

    <th>
      Details
    </th>
  </tr>
  </thead>
  <% @interests.each do |interest| %>
  <tr>

    <td>
      <%= interest.name %>
    </td>

    <td>
      <%= Contact.where({ :id => Membership.where({ :interest_id => interest.id}).pluck(:contact_id)}).count %>
    </td>

    <td>
      <a href="/interests/<%= interest.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>

<hr>

<h2>Add a new interest</h2>

<form action="/insert_interest_record" method="post">
  <div>
    
    <label for="name">
      Interest name
    </label>

    <input type="text" id="name" name="name" value="<%= @interest.name %>" required>
  </div>

  <div>
    <input type="hidden" id="user_id" name="user_id" value="<%= current_user.id %>">
  </div>

<br>
  <button class="btn btn-dark">
    Create interest
  </button>
</form>

<br>