<head>
  <title>Change Interest Name</title>
</head>


<h1>
  Change name for <%= @interest.name %>
</h1>

<hr>

<%= render("interest_templates/validation_failures.html.erb") %>

<form action="/update_interest_record/<%= @interest.id %>" method="post">
  <div>
    <label for="name">
      New Name
    </label>

    <input type="text" id="name" name="name" value="<%= @interest.name %>" required>
  </div>

<br>
  <button class="btn btn-dark">
    Update interest
  </button>
</form>

<hr>

<a href="/interests/<%= @interest.id %>">
  Go back
</a>
